<!-- TODO: Declare 'Overview' - (What you missed) page structure -->
<section>
  <a class="featuredNews" *ngFor="let item of newNews | slice:0:1">
        <div class="background" [style.background-image]="'url('+item.image+')'">
        <div class="fill">
        <header><h1><span class="highlight-container"><span class="highlight">{{item.name}}</span></span></h1></header>
      <p>{{item.description}}</p>
    </div>
    </div>
  </a>

  <div class="articles" *ngFor="let news of newNews | slice:1">
  <div class="newscontent">
    <section>
      <div class="smallbackground" [style.background-image]="'url('+news.image+')'">
        <div class="smallfill">
          <header><h1><span class="highlight-container"><span class="highlight">{{news.name | limitTo: 35}}</span></span></h1></header>
        </div>
        </div>
    </section>
  </div>
</div>
</section>
