section {
  background-color: black;
}

h1{
  margin: 0;
}
.fill {
  padding: 50px;
  padding-top: 20%;
  padding-bottom: 0.5%;
  width: 50vw;
  color: white;
  text-align: justify;
}

.featuredNews {
  margin-top: 2vw;
}

.background {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(1,1,1, 0.3);
  background-blend-mode: darken;
  width: 100vw;
  height: 60vh;
}

.featuredNews:hover {
    /*text-decoration:underline;*/
    background-image: linear-gradient(180deg, rgba(0,0,0,0) 80%, rgba(0,0,0,1) 20%);
}

.highlight-container, .highlight {
  position: relative;
}

.highlight-container {
  display: inline-block;
}
.highlight-container:before, .highlight-container:after {
  content: " ";
  display: block;
  height: 90%;
  width: 100%;
  margin-left: -3px;
  margin-right: -3px;
  position: absolute;
}
.highlight-container:before {
  background: rgba(52, 152, 219, 0.9);
  transform: rotate(2deg);
  top: -1px;
  left: -1px;
}
.highlight-container:after {
  background: rgba(58, 158, 225, 0.6);
  top: 3px;
  right: -2px;
}
.highlight-container .highlight {
  color: #fff;
  z-index: 4;
}

.articles {
  margin: 5px;
  margin-bottom: -11.7vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  display: inline-flex;
}

.newscontent section {
  display: flex;
  height: 50vh; /* Or whatever */
}

.articles h1 {
  font-size: 1.5vw;
}

.smallfill {
    padding: 50px;
    padding-top: 50%;
    width: 30vw;
    color: white;
    text-align: justify;
}

.smallbackground{
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(1,1,1, 0.3);
  background-blend-mode: darken;
  width: 32.55vw;
  height: 37.82vh;
  color: white;
}

.background {
  float: left;
  margin: 0;
  width: 100vw;
  height: 60vh;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: gray;
  position: relative;
}

.background:hover {
  transition: 150ms;
  cursor: pointer;
  background-size: 110%;
}

.highlight-container:hover {
  transition: 150ms;
  transform: rotate(-2deg);
}

.smallbackground {
  float: left;
  margin: 0;
  width: 32.94vw;
  height: 37.82vh;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-size: 110%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: gray;
  position: relative;
}
.smallbackground:hover {
  transition: 150ms;
  cursor: pointer;
  background-size: 120%;
}
