section {
  width: 100%;
  text-align: center;
  margin-top: 25vh;
}

button {
  width: 12vw;
  height: 4vw;
  border-style: none;
  background-color: #4CAF50;
  color: white;
  font-size: 2vw;
  font-family: 'black';
}

button:hover {
  background-color: #357A38;
  color: #b2b2b2;
}
