@font-face {
    font-family: 'black';
    src: url('./assets/fonts/gt-walsheim-black-webfont.woff2') format('woff2'),
         url('./assets/fonts/gt-walsheim-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'bold';
    src: url('./assets/fonts/gt-walsheim-bold-webfont.woff2') format('woff2'),
         url('./assets/fonts/gt-walsheim-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'oblique';
    src: url('./assets/fonts/gt-walsheim-medium-oblique-webfont.woff2') format('woff2'),
         url('./assets/fonts/gt-walsheim-medium-oblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'medium';
    src: url('./assets/fonts/gt-walsheim-medium-webfont.woff2') format('woff2'),
         url('./assets/fonts/gt-walsheim-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

header {
  font-size: 2.2vw;
}

.active-link {
  color: #4CAF50;
}

p{
  font-size: 1.2vw;
}

.logo {
  font-family: 'black';
  color: #4CAF50;
}

.bolden {
  font-family: 'bold';
}

html, body {
  margin: 0;
  padding: 0;
}

h1, h3, h3, h4 {
  font-family: 'bold';
}

p {
  font-family: 'medium'
}

a {
  font-family: 'black'
}

nav {
  display: inline-block;
  vertical-align: middle;
  height: 8vh;
  font-size: 24px;
  z-index: 99;
  position: absolute;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2vw;
}

li a:hover {
  color: #4CAF50;
}

.logo a {
  color: #4CAF50;
}

li a:hover:not(.active) {
    color: #4CAF50;
}

.content {
  float: right;
}

.active {
    background-color: #4CAF50;
}
